.birthday {
    width: 500px;
    border-radius: 30px;

    margin: 0 auto;
    background-color: white;
    padding: 50px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
}
.profile{
    min-height: 54px;
    border-bottom: 1px solid #b9b3b3;
    margin-bottom: 10px; 
}
.name{
/* background-color: red; */
}
.detail{
    float: left;
    padding-left: 10px;
}
.date{
    /* background-color: red; */
}



.example-margin:nth-child(2){
    margin-left: 50px;
}

.example-margin{
    margin-top: 20px;
    font-size: 18px;
}

.example-chip-list {
    margin-top:25px;
    width: 100%;
  }
  .grid-container{
      
  }